@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

$font: 'Sriracha', cursive;

@mixin styling() {
  transition: 0.3s;
  width: 15%;
  display: inline-block;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

html {
  height: 100%;
}

.body {
  font-family: $font;
  height: 100%;
  background: rgb(34, 193, 195);
  background: linear-gradient(15deg, rgba(34, 193, 195, 1) 0%, rgba(51, 83, 235, 1) 38%, rgba(51, 83, 235, 1) 51%, rgba(51, 83, 235, 1) 52%, rgba(34, 193, 195, 1) 100%);
}

.main {
  height: 25%;
  display: flex;
  justify-content: center;

  &__input {
    width: 300px;
    height: 50px;
    margin-right: 0;
    border-width: 0 0 2px 0;
    border-radius: 5px 0 0 5px;


  }
}

.main__submit {
  display: inline-block;
  border: none;
  width: 125px;
  height: 55px;
  border-radius: 0 5px 5px 0;
  background-color: rgba(70, 80, 255);
}

.maintwo {


  &__card {
    @include styling;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 10px;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(6, 6, 6, 0.9);
    }
  }

  .card__img {
    width: 80px;

  }
}

.card__container {
  padding: 2px 16px;
}


.position {
  @include styling;
  position: absolute;
  left: 20px;
  top: 10px;

}

.delete {
  background-image: url("iconfinder_minus_1645995.png");
  background-repeat: no-repeat;
  border: none;
  width: 60px;
  height: 24px;
  margin-left: 31px;
  background-color: transparent;
}

[draggable] {
  -moz-user-select: none;

  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */

  -webkit-user-drag: element;
}

#columns {
  list-style-type: none;
}

.column {
  width: 162px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  cursor: move;
}
.column header {
  height: 20px;
  width: 150px;
  color: black;
  background-color: #ccc;
  padding: 5px;

  border-radius: 10px;
  border: 2px solid #666666;
}

.column.dragElem {
  opacity: 0.4;
}
.column.over {
  //border: 2px dashed #000;
  border-top: 2px solid blue;
}
